{% extends 'layout.html' %}
{% block title %} Edit To Do: {{ todo.title }} {% endblock %}

{% block body %}
<form method="post" action="" enctype="multipart/form-data">
<div class="span-12" style="background: #F3F4EC; text-align: left;">
<div style="padding: 5px;">
{% if error %}<div class="error">{{ error }}</div>{% endif %}
    <div class="formlabel">To do title:</div>
    <div class="formelement"><input class="text" type="text" name="title" size="40" value="{{ todo.title }}" /></div>
    <div class="formlabel">To do notes:</div>
    <div class="formelement"><textarea class="text" name="text" rows="10" cols="60">{{ todo.text }}</textarea></div>
    <div class="formlabel">To do file:</div>
    <div class="formelement"><input type="file" name="userfile" /></div>
    <div><input type="submit" value="Post To Do" /></div>
</div>
</div>
</form>
{% endblock %}

